version: "3"

services:
  ldap-authentication:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    
  ldap:
    image: bitnami/openldap
    ports:
      - '1389:1389'
      - '1636:1636'
    environment:
      - LDAP_ROOT=dc=example,dc=com
      - LDAP_ADMIN_USERNAME=read-only-admin
      - LDAP_ADMIN_PASSWORD=password
      - LDAP_USERS=gauss,einstein
      - LDAP_PASSWORDS=password,password
